.or-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.line-one {
  border: 1px solid lightslategray;
  width: 120px;
  height: 0;
}

.line-two {
  border: 1px solid lightslategray;
  width: 120px;
  height: 0;
}
